
@{
    ViewBag.Title = "Index";
}

<h2>Modulo de Informes</h2>
<br />
<br />
<Center>
    <div class="col col-md-12" style="margin-top:2rem">
        <div class="col col-md-4">
            <div class="card-body">
                <a style="margin-left:50px" href="/Departamentoes/Index" class="btn btn-primary">Visualizar Departamentos</a>
            </div>
        </div>

        <div class="col col-md-4">
            <div class="card-body">
                <a style="margin-left:50px" href="/EmpleadosActivos/Buscar" class="btn btn-primary">Visualizar Empleados Activos</a>
            </div>
        </div>
    </div>

    <div class="col col-md-12 " style="margin-top:4rem">
        <div class="col col-md-4">
            <div class="card-body">
                <a style="margin-left:50px" href="/salidas/Buscar" class="btn btn-primary">Salida de Empleados</a>
            </div>
        </div>

        <div class="col col-md-4">
            <div class="card-body">
                <a style="margin-left:50px" href="/Permisos/Buscar" class="btn btn-primary">Visualizar Permisos</a>
            </div>
        </div>
    </div>

    <div class="col col-md-12 " style="margin-top:4rem">
        <div class="col col-md-4">
            <div class="card-body">
                <a style="margin-left:50px" href="/Nominas/Buscar" class="btn btn-primary">Visualizar Nomina</a>
            </div>
        </div>

        <div class="col col-md-4">
            <div class="card-body">
                <a style="margin-left:50px" href="/Cargos/Index" class="btn btn-primary">Visualizar Cargos</a>
            </div>
        </div>
    </div>
    <br />
    <br />
</Center>
