
@{
    ViewBag.Title = "Index";
}

<h2>Informes</h2>

    <input type="submit" value="Buscar" />


    <div class="col col-md-12" style="margin-top:2rem">
        <div class="col col-md-4">
            <div class="card-body">
                <a style="margin-left:50px" href="/Nominas/Index" class="btn btn-primary">Visualizar Nomina</a>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card-body">
                <a style="margin-left:25px" href="" class="btn btn-primary">Visualizar Empleados Activos</a>
            </div>
        </div>

        <div class="col col-md-4">
            <div class="card-body">

                <a style="margin-left:30px" href="" class="btn btn-primary">Visualizar Empleados Inactivos</a>
            </div>
        </div>
    </div>

    <div class="col col-md-12 " style="margin-top:4rem">
        <div class="col col-md-4">
            <div class="card-body">

                <a style="margin-left:20px" href="" class="btn btn-primary">Visualizar Departamentos</a>
            </div>
        </div>

        <div class="col col-md-4">
            <div class="card-body">
                <a style="margin-left:60px" href="" class="btn btn-primary">Visualizar Cargos</a>
            </div>
        </div>

        <div class="col col-md-4">
            <div class="card-body">
                <a style="margin-left:10px" href="" class="btn btn-primary">Entradas de empleados por mes</a>
            </div>
        </div>
    </div>

    <div class="col col-md-12 " style="margin-top:4rem">
        <div class="col col-md-4">
            <div class="card-body">
                <a href="" class="btn btn-primary">Salida de Empleados por mes</a>
            </div>
        </div>

        <div class="col col-md-4">
            <div class="card-body">
                <a style="margin-left:60px" href="" class="btn btn-primary">Visualizar Permisos</a>
            </div>
        </div>
    </div>
    <br />
    <br />

